{% extends 'base.html' %}

{% block content %}
Estás en Tasks.
<a href="{% url 'tasks:create-task' %}">Create Task</a>
<hr>
{% for task in tasks %}
    <div> 
        <h3>
            <a href="{% url 'tasks:task' task.pk %}">{{task.title}}</a>
        </h3>
        <p>{{task.description}}</p>
        <p>completado: {{task.completed}}</p>
        <small>fecha límite: {{task.limit_date}}</small>
        <a href="{% url 'tasks:update-task' task.pk %}">Update task</a>
    </div>
    <hr>
{% endfor %}

{% endblock content %}
